python-dotenv
pymongo
neo4j
google-generativeai
pymupdf
numpy==1.26.4
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
paddlepaddle==2.6.2
paddleocr==2.7.3
imgaug==0.4.0
Pillow
vietocr
torch
torchvision
torchaudio
fastapi
uvicorn
firebase-admin
pymongo
motor
