python-dotenv
pymongo
neo4j
google-generativeai==0.7.2
pymupdf
numpy
opencv-python
opencv-contrib-python
paddlepaddle==2.6.2
paddleocr
imgaug==0.4.0
Pillow
vietocr
torch
torchvision
torchaudio
fastapi
uvicorn
firebase-admin
motor
ragas==0.1.22
datasets
pandas
langchain-google-genai==1.0.10
cohere
cloudinary
python-docx
duckduckgo-search
matplotlib
pypdf
pydantic
